


/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
}

h3 {
	padding: 0px;
	margin: 0px;
	display:inline; 
}

/* CSS3 Animation example
--- */
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example h3.open + div {
  background: lightblue;
}
